.login_form {
  
  background-color: rgb(190, 240, 255);
  height: 830px;
}
.login_h1 {
  color: red;
}

.input {
  height: 35px;
  /*width: 50px;*/
  margin-top: 10px;
  text-align: center;
  transition: all 500ms;
  border-color: cyan;
}

:focus,
:hover.input {
  border-radius: 20px;
  border-color: crimson;
  transition: all 500ms;
}

.inp_text {
  border-color: cyan;
}

.inp_email {
  border-color: cyan;
}

.inp_pass {
  border-color: cyan;
}

.btn_sub {
  font-size: 20px;
  height: 35px;
  width: 10%;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #61dafb;
  transition: all 500ms;
}

:hover.btn_sub {
  margin-top: 15px;
  color: red;
  background-color: cyan;
  transition: all 300ms;
}

/* error */

.error {
  margin: 10px auto 0 auto;
  width: 20%;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  background: rgb(210, 98, 128);
  background: linear-gradient(
    90deg,
    rgba(210, 98, 128, 1) 0%,
    rgba(255, 184, 199, 1) 0%,
    rgba(196, 154, 176, 1) 0%,
    rgba(255, 68, 68, 1) 100%
  );
}

/* responsive */

@media only screen and (max-width: 980px) {
  .error {
    font-size: 14px;
  }
}

@media only screen and (max-width: 910px) {
  .error {
    font-size: 15px;
    width: 25%;
  }
}

@media only screen and (max-width: 740px) {
  .error {
    font-size: 12px;
    width: 25%;
  }
  .btn_sub {
    font-size: 16px;
    width: 15%;
  }
}
.input {
  width: 500px;
}

@media only screen and (max-width: 500px) {
  .error {
    font-size: 11px;
    width: 140px;
  }
  .btn_sub {
    font-size: 16px;
    width: 16%;
  }
  .input {
    width: 50%;
  }
}
